body{
    font-family: "Cormorant Garamond", serif
    background; black;
    color: pink;
   margin: 0px;
   margin-bottom: 100px ;
   
}
.chamada{
    background: burlywood;
    display: flex;
    justify-content: center;
    margin-top:  80px;
    margin-bottom: 80px ;
} 